@model MyBlog.WebUI.Models.Account.LoginViewModel
@{
    ViewData["Title"] = "Login";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}

<div class="row">
    <div class="col-12">
        <div class="main__title">
            <h2>Giriş Yap</h2>
        </div>
    </div>
    <div class="col-12">
        <div class="sign__content">
            <form asp-action="Login" class="sign__form">

                

                <div asp-validation-summary="All" class="model-danger mb-3"></div>

                <div class="sign__group">
                    <label asp-for="Email" class="form__title"></label>
                    <input asp-for="Email" class="sign__input" placeholder="Email">
                </div>

                <div class="sign__group">
                    <label asp-for="Password" class="form__title"></label>
                    <input asp-for="Password" class="sign__input" placeholder="Password">
                </div>


                <button class="sign__btn" type="submit">Sign in</button>

                <span class="sign__delimiter">or</span>

                <span class="sign__text"> <a href="/">Siteye Geri Dön</a></span>
            </form>
        </div>
    </div>
</div>

