@{
    Layout = null;
}

@model TempPorrtfolioDetailModel

@*@{
  string appType =  ((Enums.AppType)Model.AppType).ToString();
 }*@

<style>

    .img-center {
        text-align: -webkit-center;
    }
</style>


<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta content="width=device-width, initial-scale=1.0" name="viewport">

    <title>Portfolio Details - Personal Bootstrap Template</title>
    <meta content="" name="description">
    <meta content="" name="keywords">

    <!-- Favicons -->
    <link href="~/Personal/assets/img/favicon.png" rel="icon">
    <link href="~/Personal/assets/img/apple-touch-icon.png" rel="apple-touch-icon">

    <!-- Google Fonts -->
    <link href="https://fonts.googleapis.com/css?family=Open+Sans:300,300i,400,400i,600,600i,700,700i|Raleway:300,300i,400,400i,500,500i,600,600i,700,700i|Poppins:300,300i,400,400i,500,500i,600,600i,700,700i"
          rel="stylesheet">

    <!-- Vendor CSS Files -->
    <link href="~/Personal/assets/vendor/bootstrap/css/bootstrap.min.css" rel="stylesheet">
    <link href="~/Personal/assets/vendor/bootstrap-icons/bootstrap-icons.css" rel="stylesheet">
    <link href="~/Personal/assets/vendor/boxicons/css/boxicons.min.css" rel="stylesheet">
    <link href="~/Personal/assets/vendor/glightbox/css/glightbox.min.css" rel="stylesheet">
    <link href="~/Personal/assets/vendor/remixicon/remixicon.css" rel="stylesheet">
    <link href="~/Personal/assets/vendor/swiper/swiper-bundle.min.css" rel="stylesheet">

    <!-- Template Main CSS File -->
    <link href="~/Personal/assets/css/style.css" rel="stylesheet">

    <!-- =======================================================
    * Template Name: Personal
    * Updated: Jan 09 2024 with Bootstrap v5.3.2
    * Template URL: https://bootstrapmade.com/personal-free-resume-bootstrap-template/
    * Author: BootstrapMade.com
    * License: https://bootstrapmade.com/license/
    ======================================================== -->
</head>

<body>

    <main id="main">

        <!-- ======= Portfolio Details ======= -->
        <div id="portfolio-details" class="portfolio-details">
            <div class="container">

                <div class="row">

                    <h2 class="portfolio-title">Name</h2>

                    <div class="col-lg-12 portfolio-info">
                        <h3>Project information</h3>
                        <ul>
                            <li><strong>Category</strong>: MObil</li>
                            <li><strong>Proje Tarihi</strong>: 2222</li>
                            <li><strong>Project URL</strong>: <a href="#">asdsd asdsd asdsd asdsdasdsdasdsdasdsdasdsdasdsd  asdsd asdsd asdsd</a></li>
                            <li><strong>Kullanılan Teknolojiler</strong>: <a href="#">asdasd</a></li>
                        </ul>

                        <p>
                            proje detayı
                        </p>
                    </div>

                    <div class="col-lg-12">
                        <div id="carouselExampleIndicators" class="carousel slide">
                            <div class="carousel-indicators">
                                <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="0" class="active" aria-current="true" aria-label="Slide 1"></button>
                                <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="1" aria-label="Slide 2"></button>
                                <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="2" aria-label="Slide 3"></button>
                                <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="3" aria-label="Slide 4"></button>
                                <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="4" aria-label="Slide 5"></button>
                            </div>
                            <div class="carousel-inner">
                                <div class="carousel-item img-center active">
                                    <img src="~/Personal/assets/img/portfolio/portfolio-1.jpg" class="d-block" alt="...">
                                </div>
                                <div class="carousel-item img-center">
                                    <img src="~/Personal/assets/img/portfolio/dota1.png" class="d-block " alt="...">
                                </div>
                                <div class="carousel-item img-center" >
                                    <img src="~/Personal/assets/img/portfolio/dota2.png" class="d-block" alt="...">
                                </div>
                                <div class="carousel-item img-center">
                                    <img src="~/Personal/assets/img/portfolio/portfolio-4.jpg" class="d-block" alt="...">
                                </div>
                                <div class="carousel-item img-center">
                                    <img src="~/Personal/assets/img/portfolio/adventurer-v1.5-Sheet.png" class="d-block" alt="...">
                                </div>
                            </div>
                            <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide="prev">
                                <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                                <span class="visually-hidden">Previous</span>
                            </button>
                            <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide="next">
                                <span class="carousel-control-next-icon" aria-hidden="true"></span>
                                <span class="visually-hidden">Next</span>
                            </button>
                        </div>
                    </div>
               
                </div>

            </div>
        </div><!-- End Portfolio Details -->

    </main><!-- End #main -->

    <div class="credits">
        <!-- All the links in the footer should remain intact. -->
        <!-- You can delete the links only if you purchased the pro version. -->
        <!-- Licensing information: https://bootstrapmade.com/license/ -->
        <!-- Purchase the pro version with working PHP/AJAX contact form: https://bootstrapmade.com/personal-free-resume-bootstrap-template/ -->
        <!-- Designed by <a href="https://bootstrapmade.com/">BootstrapMade</a> -->
    </div>

    <!-- Vendor JS Files -->
    <script src="~/Personal/assets/vendor/purecounter/purecounter_vanilla.js"></script>
    <script src="~/Personal/assets/vendor/bootstrap/js/bootstrap.bundle.min.js"></script>
    <script src="~/Personal/assets/vendor/glightbox/js/glightbox.min.js"></script>
    <script src="~/Personal/assets/vendor/isotope-layout/isotope.pkgd.min.js"></script>
    <script src="~/Personal/assets/vendor/swiper/swiper-bundle.min.js"></script>
    <script src="~/Personal/assets/vendor/waypoints/noframework.waypoints.js"></script>
    <script src="~/Personal/assets/vendor/php-email-form/validate.js"></script>

    <!-- Template Main JS File -->
    <script src="~/Personal/assets/js/main.js"></script>

</body>

</html>