@model List<MyBlog.WebUI.Entity.Portfolio>

@foreach (var portfolio in Model)
{
    var portfolioType = Enum.GetName(typeof(Enums.AppType), portfolio.PortfolioType);
    var portfImage = portfolio.ProjectImages.Count > 0 ? portfolio.ProjectImages[0].ImageUrl : "";

    var cover = portfolio.ProjectImages.FirstOrDefault(x => x.IsCoverImage == true);
    var coverImageUrl = cover == null ? "" : cover.ImageUrl;

    <div class="col-lg-4 col-md-6 portfolio-item filter-@portfolioType">
        <div class="portfolio-wrap">
            <img src="~/img/portfoliopicture/@coverImageUrl" class="img-fluid" alt="">
            <div class="portfolio-info">
                <h4><a class="text-white" asp-controller="Portfolio" asp-action="Detail" asp-route-id="@portfolio.Id">@portfolio.Title</a></h4>
                <div class="portfolio-links">
                    <a asp-controller="Portfolio" asp-action="Detail" asp-route-id="@portfolio.Id" data-gallery="portfolioDetailsGallery"
                       data-glightbox="type: external" class="portfolio-details-lightbox"
                       title="Portfolio Details"><i class="bx bx-link"></i></a>
                </div>
            </div>
        </div>
    </div>
}
