@model List<MyBlog.WebUI.Entity.Portfolio>

<div class="container">

    <div class="section-title">
        <h2>Portfolio</h2><a href="/portfolio/index" target="_blank" class="btn btn-success btn-sm my-3">Düzenle</a>
        <!-- <p>My Works</p> -->
    </div>

    <div class="row">
        <div class="col-lg-12 d-flex justify-content-center">
            <ul id="portfolio-flters">
                <li data-filter="*" class="filter-active">Hepsi</li>
                <li data-filter=".filter-Mobil">Mobil</li>
                <li data-filter=".filter-Web">Web</li>                
                <li data-filter=".filter-Game">Oyun</li>
                <li data-filter=".filter-DemoPrototype">Demo ve Prototipler</li>

            </ul>
        </div>
    </div>

    <div class="row portfolio-container">

        @foreach (var portfolio in Model)
        {
            var portfolioType = Enum.GetName(typeof(Enums.AppType), portfolio.PortfolioType);
            var portfImage = portfolio.ProjectImages.Count > 0 ? portfolio.ProjectImages[0].ImageUrl : "";

            var cover = portfolio.ProjectImages.FirstOrDefault(x => x.IsCoverImage == true);
            var coverImageUrl = cover == null ? "" : cover.ImageUrl;

            <div class="col-lg-4 col-md-6 portfolio-item filter-@portfolioType">
                <div class="portfolio-wrap">
                    <img src="~/img/portfoliopicture/@coverImageUrl" class="img-fluid" alt="">
                    <div class="portfolio-info">
                        <h4>@portfolio.Title</h4>
                        <p>@portfolioType</p>
                        <div class="portfolio-links">
                            <a asp-controller="Portfolio" asp-action="Detail" asp-route-id="@portfolio.Id" data-gallery="portfolioDetailsGallery"
                               data-glightbox="type: external" class="portfolio-details-lightbox"
                               title="Portfolio Details"><i class="bx bx-link"></i></a>
                        </div>
                    </div>
                </div>
            </div>
        }

        @*<div class="col-lg-4 col-md-6 portfolio-item filter-app">
            <div class="portfolio-wrap">
                <img src="~/Personal/assets/img/portfolio/dota1.png" class="img-fluid" alt="">
                <div class="portfolio-info">
                    <h4>Dota 2 Chat Wheel Sounds</h4>
                    <p>Mobil-Uygulama</p>
                    <div class="portfolio-links">
                        <a href="~/Personal/assets/img/portfolio/portfolio-1.jpg"
                           data-gallery="portfolioGallery" class="portfolio-lightbox" title="App 1">
                            <i class="bx bx-plus"></i>
                        </a>
                        <a asp-controller="Portfolio" asp-action="Detail" data-gallery="portfolioDetailsGallery"
                           data-glightbox="type: external" class="portfolio-details-lightbox"
                           title="Portfolio Details"><i class="bx bx-link"></i></a>
                    </div>
                </div>
            </div>
        </div>


        <div class="col-lg-4 col-md-6 portfolio-item filter-web">
            <div class="portfolio-wrap">
                <img src="~/Personal/assets/img/portfolio/portfolio-2.jpg" class="img-fluid" alt="">
                <div class="portfolio-info">
                    <h4>Web 3</h4>
                    <p>Web</p>
                    <div class="portfolio-links">
                        <a href="~/Personal/assets/img/portfolio/portfolio-2.jpg"
                           data-gallery="portfolioGallery" class="portfolio-lightbox" title="Web 3">
                            <i class="bx bx-plus"></i>
                        </a>
                        <a href="portfolio-details.html" data-gallery="portfolioDetailsGallery"
                           data-glightbox="type: external" class="portfolio-details-lightbox"
                           title="Portfolio Details"><i class="bx bx-link"></i></a>
                    </div>
                </div>
            </div>
        </div>*@

    </div>

</div>