
@{
    ViewData["Title"] = "BlogDetail";
    Layout = "~/Views/Shared/_Layout.cshtml";
}


<div class="text-center px-4 border-bottom" style="margin-top:140px;">
    <h1 class="display-4 fw-bold mt-3">Awesome Blog</h1>
    <div class="col-lg-6 mx-auto">
        <p class="lead mb-4">
            Lorem ipsum dolor, sit amet consectetur adipisicing elit. Ullam saepe quidem mollitia deleniti pariatur commodi hic corrupti beatae molestiae praesentium?
        </p>

        <p class="lead mb-4">
            Lorem ipsum dolor, sit amet consectetur adipisicing elit. Ullam saepe quidem mollitia deleniti pariatur commodi hic corrupti beatae molestiae praesentium?
        </p>

        <p class="lead mb-4">
            Lorem ipsum dolor, sit amet consectetur adipisicing elit. Ullam saepe quidem mollitia deleniti pariatur commodi hic corrupti beatae molestiae praesentium?
        </p>



        <img src="https://picsum.photos/200/300" class="img-fluid border rounded-3 shadow-lg mb-4" width="700" height="500" alt="">

    </div>
</div>