
@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<style>
    .blog-image {
        height: 257px;
        width: 356px;
    }
</style>


<div class="container my-4" style="margin-top: 9.5rem !important;">
    <div class="row">
        <div class="col-md-3 d-none d-md-block">
            <div class="list-group">
                <a href="#" class="list-group-item list-group-item actiob">Category 1</a>
                <a href="#" class="list-group-item list-group-item actiob">Category 2</a>
                <a href="#" class="list-group-item list-group-item actiob">Category 3</a>
                <a href="#" class="list-group-item list-group-item actiob">Category 4</a>
            </div>
        </div>
        <div class="col-md-9">
            <div class="card mb-2 shadow">
                <div class="row">
                    <div class="col-4">
                        <img src="https://picsum.photos/200/300" alt="" class="img-fluid rounded-start blog-image">
                    </div>
                    <div class="col-8">
                        <div class="card-body">
                            <h5 class="card-title">Card Title</h5>
                            <p class="card-text">Lorem ipsum dolor sit, amet consectetur adipisicing elit. Accusamus numquam fuga pariatur asperiores veritatis ducimus consequuntur suscipit natus inventore molestias?</p>
                        </div>
                    </div>
                </div>
            </div>
            <div class="card mb-2 shadow">
                <div class="row">
                    <div class="col-4">
                        <img src="https://picsum.photos/200/300" alt="" class="img-fluid rounded-start blog-image">
                    </div>
                    <div class="col-8">
                        <div class="card-body">
                            <h5 class="card-title">Card Title</h5>
                            <p class="card-text">Lorem ipsum dolor sit, amet consectetur adipisicing elit. Accusamus numquam fuga pariatur asperiores veritatis ducimus consequuntur suscipit natus inventore molestias?</p>
                        </div>
                    </div>
                </div>
            </div>
            <div class="card mb-2 shadow">
                <div class="row">
                    <div class="col-4">
                        <img src="https://picsum.photos/200/300" alt="" class="img-fluid rounded-start blog-image">
                    </div>
                    <div class="col-8">
                        <div class="card-body">
                            <h5 class="card-title">Card Title</h5>
                            <p class="card-text">Lorem ipsum dolor sit, amet consectetur adipisicing elit. Accusamus numquam fuga pariatur asperiores veritatis ducimus consequuntur suscipit natus inventore molestias?</p>
                        </div>
                    </div>
                </div>
            </div>
            <div class="card mb-2 shadow">
                <div class="row">
                    <div class="col-4">
                        <img src="https://picsum.photos/200/300" alt="" class="img-fluid rounded-start blog-image">
                    </div>
                    <div class="col-8">
                        <div class="card-body">
                            <h5 class="card-title">Card Title</h5>
                            <p class="card-text">Lorem ipsum dolor sit, amet consectetur adipisicing elit. Accusamus numquam fuga pariatur asperiores veritatis ducimus consequuntur suscipit natus inventore molestias?</p>
                        </div>
                    </div>
                </div>
            </div>
            <nav class="my-5">
                <ul class="pagination justify-content-end">
                    <li class="page-item disabled"><a href="#" class="page-link">Previous</a></li>
                    <li class="page-item"><a href="" class="page-link">1</a></li>
                    <li class="page-item"><a href="" class="page-link">2</a></li>
                    <li class="page-item"><a href="" class="page-link">3</a></li>
                    <li class="page-item"><a href="" class="page-link">Next</a></li>
                </ul>
            </nav>
        </div>
    </div>
</div>

