@model MyBlog.WebUI.Models.Resume.ExperienceViewModel

@{
    ViewData["Title"] = "ExperienceEdit";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}

<div class="row">
    <div class="col-12">
        <div class="main__title">
            <h2>About (Edit)</h2>
        </div>
    </div>
    <div class="col-12">
        <form action="edit" method="post" class="form" enctype="multipart/form-data" novalidate>
            <div asp-validation-summary="ModelOnly" class="model-danger"></div>
            <input type="hidden" asp-for="Id" />
            <div class="row row--form">


                <div class="col-12 col-md-7 form__content">
                    <div class="row row--form">
                        <div class="col-12">
                            <label asp-for="Title" class="form__label"></label>
                            <input asp-for="Title" class="form__input" placeholder="Title Giriniz">
                            <span asp-validation-for="Title" class="model-danger"></span>
                        </div>

                        <div class="col-12">
                            <label asp-for="DateBetween" class="form__label"></label>
                            <input asp-for="DateBetween" class="form__input" placeholder="Hangi tarihler arasında">
                            <span asp-validation-for="DateBetween" class="model-danger"></span>
                        </div>
                        <div class="col-12 col-sm-6 col-lg-3">
                            <label asp-for="CompanyName" class="form__label"></label>
                            <input asp-for="CompanyName" class="form__input" placeholder="Email">
                            <span asp-validation-for="CompanyName" class="model-danger"></span>
                        </div>
                        <div class="col-12 col-sm-6 col-lg-3">
                            <label asp-for="Adress" class="form__label"></label>
                            <input asp-for="Adress" class="form__input" placeholder="Adres">
                            <span asp-validation-for="Adress" class="model-danger"></span>
                        </div>
                        <div class="col-12 col-sm-6 col-lg-3">
                            <label asp-for="DisplayOrder" class="form__label"></label>
                            <input asp-for="DisplayOrder" type="number" min="1" class="form__input" placeholder="DisplayOrder">
                            <span asp-validation-for="DisplayOrder" class="model-danger"></span>
                        </div>


                        <div class="col-12">
                            <label asp-for="ExperienceSteps" class="form__label"></label>
                            <textarea asp-for="ExperienceSteps" class="form__textarea" placeholder="Deneyim Adımları"></textarea>
                            <span asp-validation-for="ExperienceSteps" class="model-danger"></span>
                        </div>



                    </div>
                </div>

                <div class="col-12">
                    <button type="submit" class="form__btn">Save</button>
                </div>
            </div>
        </form>
    </div>

    <div id="modal-delete" class="zoom-anim-dialog mfp-hide modal">
        <h6 class="modal__title">Skill delete</h6>

        <p class="modal__text">Are you sure to permanently delete this skill?</p>

        <div class="modal__btns">
            <button id="skillDelete" class="modal__btn modal__btn--apply" type="button">Delete</button>
            <button class="modal__btn modal__btn--dismiss" type="button">Dismiss</button>
        </div>
    </div>
</div>

