
@{
    ViewData["Title"] = "Experiences";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}

<div class="row">
    <!-- main title -->
    <div class="col-12">
        <div class="main__title">
            <h2>Experiences (Edit)</h2>
        </div>
    </div>
    <!-- end main title -->
    <!-- form -->
    <div class="col-12">
        <form action="edit" method="post" class="form" enctype="multipart/form-data" novalidate>
            <div asp-validation-summary="ModelOnly" class="model-danger"></div>
            <input type="hidden" />
            <div class="row row--form">
                <div class="col-12 col-md-7 form__content">
                    <h4 class="form__title">Experiences</h4>
                    <a href="#modal-add-education" class="main__title-link opening_modal_add open-modal ml-0 mb-3">Add Education</a>
                    <div class="main__table-wrap mCustomScrollbar _mCS_2 mCS_no_scrollbar" style="overflow: visible;">
                        <div id="mCSB_2" class="mCustomScrollBox mCS-custom-bar2 mCSB_horizontal mCSB_outside" tabindex="0" style="max-height: none;">
                            <div id="mCSB_2_container" class="mCSB_container mCS_x_hidden mCS_no_scrollbar_x" style="position: relative; top: 0px; left: 0px; width: 1051px; min-width: 100%; overflow-x: inherit;" dir="ltr">
                                <table class="main__table">
                                    <thead>
                                        <tr>
                                            <th>ID</th>
                                            <th>Title</th>
                                            <th>DAte</th>
                                            <th>Order</th>
                                            <th>ACTIONS</th>
                                        </tr>
                                    </thead>

                                    <tbody id="eduTbody">
                                        @foreach (var edu in Model.Educations)
                                        {

                                            <tr id="tr_@edu.Id">

                                                <td>
                                                    <div class="main__table-text">@edu.Id</div>
                                                </td>
                                                <td>
                                                    <div id="edu_title_@edu.Id" class="main__table-text">Work 1</div>
                                                </td>
                                                <td>
                                                    <div id="edu_uniName_@edu.Id" class="main__table-text">Date Between</div>
                                                </td>
                                                <td>
                                                    <div class="main__table-text">1</div>
                                                </td>

                                                <td>
                                                    <div class="main__table-btns">
                                                        <a href="#modal-edit-education" id="@edu.Id" class="main__table-btn main__table-btn--edit opening_modal_edit open-modal">
                                                            <i class="icon ion-ios-create "></i>
                                                        </a>
                                                        <a href="#modal-delete" id="@edu.Id" class="main__table-btn main__table-btn--delete opening_modal_delete open-modal">
                                                            <i class="icon ion-ios-trash"></i>
                                                        </a>
                                                    </div>
                                                </td>
                                            </tr>
                                        }


                                    </tbody>
                                </table>
                            </div>
                        </div><div id="mCSB_2_scrollbar_horizontal" class="mCSB_scrollTools mCSB_2_scrollbar mCS-custom-bar2 mCSB_scrollTools_horizontal" style="display: none;"><div class="mCSB_draggerContainer"><div id="mCSB_2_dragger_horizontal" class="mCSB_dragger" style="position: absolute; min-width: 30px; width: 0px; left: 0px;"><div class="mCSB_dragger_bar"></div><div class="mCSB_draggerRail"></div></div></div></div>
                    </div>
                </div>
                @*<div class="col-12">
                        <button type="submit" class="form__btn">Save</button>
                    </div>*@
            </div>
        </form>
    </div>
    <!-- end form -->
 
</div>

