
@{
    Layout = null;
}

<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- CSS -->
    <link rel="stylesheet" href="~/admin/css/bootstrap-reboot.min.css">
    <link rel="stylesheet" href="~/admin/css/bootstrap-grid.min.css">
    <link rel="stylesheet" href="~/admin/css/magnific-popup.css">
    <link rel="stylesheet" href="~/admin/css/jquery.mCustomScrollbar.min.css">
    <link rel="stylesheet" href="~/admin/css/select2.min.css">
    <link rel="stylesheet" href="~/admin/css/ionicons.min.css">
    <link rel="stylesheet" href="~/admin/css/admin.css">
    <link href="~/lib/sweetalert2/sweetalert2.min.css" rel="stylesheet" />

    <!-- Favicons -->
    <link rel="icon" type="image/png" href="icon/favicon-32x32.png" sizes="32x32">
    <link rel="apple-touch-icon" href="~/admin/icon/favicon-32x32.png">

    <meta name="description" content="">
    <meta name="keywords" content="">
    <meta name="author" content="Dmitry Volkov">
    <title>HotFlix – Online Movies, TV Shows & Cinema HTML Template</title>
    <link href="~/css/site.css" rel="stylesheet">


    <!-- froala editor -->
    <link href="https://cdn.jsdelivr.net/npm/froala-editor@latest/css/froala_editor.pkgd.min.css" rel="stylesheet" type="text/css" />


</head>
<body>
    <!-- header -->
    <header class="header">
        <div class="header__content">
            <!-- header logo -->
            <a href="index.html" class="header__logo">
                <img src="~/admin/img/logo.svg" alt="">
            </a>
            <!-- end header logo -->
            <!-- header menu btn -->
            <button class="header__btn" type="button">
                <span></span>
                <span></span>
                <span></span>
            </button>
            <!-- end header menu btn -->
        </div>
    </header>
    <!-- end header -->
    <!-- sidebar -->
    <div class="sidebar">
        <!-- sidebar logo -->
        <a href="index.html" class="sidebar__logo">
            <img src="~/admin/img/logo.svg" alt="">
        </a>
        <!-- end sidebar logo -->
        <!-- sidebar user -->
        <div class="sidebar__user">
            <div class="sidebar__user-img">
                <img src="~/admin/img/user.svg" alt="">
            </div>

            <div class="sidebar__user-title">
                <span>Admin</span>
                <p>John Doe</p>
            </div>

            <button class="sidebar__user-btn" type="button">
                <i class="icon ion-ios-log-out"></i>
            </button>
        </div>
        <!-- end sidebar user -->
        <!-- sidebar nav -->
        <div class="sidebar__nav-wrap">
            <ul class="sidebar__nav">
                <li class="sidebar__nav-item">
                    <a href="/about/edit" class="sidebar__nav-link"><i class="icon ion-ios-keypad"></i> <span>About</span></a>
                </li>
                <!-- resume collapse -->
                <li class="sidebar__nav-item">
                    <a class="sidebar__nav-link" data-toggle="collapse" href="#collapseMenu" role="button" aria-expanded="false" aria-controls="collapseMenu"><i class="icon ion-ios-copy"></i> <span>Resume</span> <i class="icon ion-md-arrow-dropdown"></i></a>

                    <ul class="collapse sidebar__menu" id="collapseMenu">
                        <li><a href="/resume/education">Education</a></li>
                        <li><a href="/resume/experiences">Experience</a></li>
                    </ul>
                </li>

                <li class="sidebar__nav-item">
                    <a href="/portfolio/index" class="sidebar__nav-link"><i class="icon ion-ios-keypad"></i> <span>Portfolio</span></a>
                </li>
                <!-- end resume collapse -->
                @*<li class="sidebar__nav-item">
                        <a href="index.html" class="sidebar__nav-link sidebar__nav-link--active"><i class="icon ion-ios-keypad"></i> <span>Dashboard</span></a>
                    </li>*@
            </ul>
        </div>
        <!-- end sidebar nav -->
        <!-- sidebar copyright -->
        <div class="sidebar__copyright">© HOTFLIX, 2019—2021. <br>Create by <a href="https://themeforest.net/user/dmitryvolkov/portfolio" target="_blank">Dmitry Volkov</a></div>
        <!-- end sidebar copyright -->
    </div>
    <!-- end sidebar -->
    <!-- main content -->
    <main class="main">
        <div class="container-fluid">
            @RenderBody()
        </div>
    </main>
    <!-- end main content -->
    <!-- JS -->
    <script src="https://code.jquery.com/jquery-3.7.1.min.js" integrity="sha256-/JqT3SQfawRcv/BIHPThkBvs0OEvtFFmqPF/lYI/Cxo=" crossorigin="anonymous"></script>
    <script src="~/admin/js/bootstrap.bundle.min.js"></script>
    <script src="~/admin/js/jquery.magnific-popup.min.js"></script>
    <script src="~/admin/js/jquery.mousewheel.min.js"></script>
    <script src="~/admin/js/jquery.mCustomScrollbar.min.js"></script>
    <script src="~/admin/js/select2.min.js"></script>
    <script src="~/admin/js/admin.js"></script>
    <script src="~/lib/sweetalert2/sweetalert2.min.js"></script>
    <script src="~/js/sweetAlertCustom.js"></script>

    <script type="text/javascript" src="https://cdn.jsdelivr.net/npm/froala-editor@latest/js/froala_editor.pkgd.min.js"></script>
    @RenderSection("Scripts", required: false)
</body>

<!-- Mirrored from hotflix.volkovdesign.com/admin/index.html by HTTrack Website Copier/3.x [XR&CO'2014], Tue, 30 Jan 2024 11:56:34 GMT -->
</html>