<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta content="width=device-width, initial-scale=1.0" name="viewport">

    <title>Recai Öztürk</title>
    <meta content="" name="description">
    <meta content="" name="keywords">

    <!-- Favicons -->
    <link href="~/Personal/" rel="icon">
    <link href="~/Personal/assets/img/favicon.png" rel="icon">
    <link href="~/Personal/assets/img/apple-touch-icon.png" rel="apple-touch-icon">

    <!-- Google Fonts -->
    <link href="https://fonts.googleapis.com/css?family=Open+Sans:300,300i,400,400i,600,600i,700,700i|Raleway:300,300i,400,400i,500,500i,600,600i,700,700i|Poppins:300,300i,400,400i,500,500i,600,600i,700,700i"
          rel="stylesheet">

    <!-- Vendor CSS Files -->
    <link href="~/Personal/assets/vendor/bootstrap/css/bootstrap.min.css" rel="stylesheet">
    <link href="~/Personal/assets/vendor/bootstrap-icons/bootstrap-icons.css" rel="stylesheet">
    <link href="~/Personal/assets/vendor/boxicons/css/boxicons.min.css" rel="stylesheet">
    <link href="~/Personal/assets/vendor/glightbox/css/glightbox.min.css" rel="stylesheet">
    <link href="~/Personal/assets/vendor/remixicon/remixicon.css" rel="stylesheet">
    <link href="~/Personal/assets/vendor/swiper/swiper-bundle.min.css" rel="stylesheet">

    <!-- Template Main CSS File -->
    <link href="~/Personal/assets/css/style.css" rel="stylesheet">

    <!-- site css -->
    <link href="~/css/site.css" rel="stylesheet">

    <!-- =======================================================
    * Template Name: Personal
    * Updated: Jan 09 2024 with Bootstrap v5.3.2
    * Template URL: https://bootstrapmade.com/personal-free-resume-bootstrap-template/
    * Author: BootstrapMade.com
    * License: https://bootstrapmade.com/license/
    ======================================================== -->
</head>

<body>

    <!-- ======= Header ======= -->
    <header id="header">
        <div class="container">

            <h1><a href="index.html">Recai Öztürk</a></h1>
            <!-- Uncomment below if you prefer to use an image logo -->
            <!-- <a href="index.html" class="mr-auto"><img src="assets/img/logo.png" alt="" class="img-fluid"></a> -->
            @* <h2>I'm a passionate <span>graphic designer</span> from New York</h2> *@
            <h2>Web Developer | Game Developer | .Net Developer</h2>

            <nav id="navbar" class="navbar">
                <ul>
                    <li><a class="nav-link active" href="#header">Ana Sayfa</a></li>
                    <li><a class="nav-link" href="#about">Hakkımda</a></li>
                    <li><a class="nav-link" href="#resume">Resume</a></li>
                    <li><a class="nav-link" href="#portfolio">Portfolio</a></li>
                    <li><a class="nav-link" href="#services">Blog(Yakında)</a></li>
                    <li><a class="nav-link" href="#contact">İletişim</a></li>
                </ul>
                <i class="bi bi-list mobile-nav-toggle"></i>
            </nav><!-- .navbar -->

            <div class="social-links">
                <a href="https://github.com/recaiozturk" target="_blank" class="twitter">
                    <i class="bi bi-github"></i>
                </a>
                @* <a href="#" class="facebook"><i class="bi bi-facebook"></i></a> *@
                <a href="https://www.instagram.com/recaiozturk54/" target="_blank" class="instagram">
                    <i class="bi bi-instagram"></i>
                </a>
                <a href="https://www.linkedin.com/in/recaiozturk54/" target="_blank" class="linkedin">
                    <i class="bi bi-linkedin"></i>
                </a>
            </div>

        </div>
    </header><!-- End Header -->
    <!-- @RenderBody() -->

    <!-- ======= About Section ======= -->
    <section id="about" class="about">
        @await Component.InvokeAsync("About")
    </section>
    <!-- End About Section -->

    <!-- ======= Resume Section ======= -->
    <section id="resume" class="resume">
        @await Component.InvokeAsync("Resume")
    </section>
    <!-- End Resume Section -->


    <!-- ======= Services Section - Bog ======= -->
    <!-- <section id="services" class="services">
        <div class="container">

            <div class="section-title">
                <h2>Services</h2>
                <p>My Services</p>
            </div>

            <div class="row">
                <div class="col-lg-4 col-md-6 d-flex align-items-stretch">
                    <div class="icon-box">
                        <div class="icon"><i class="bx bxl-dribbble"></i></div>
                        <h4><a href="">Lorem Ipsum</a></h4>
                        <p>Voluptatum deleniti atque corrupti quos dolores et quas molestias excepturi</p>
                    </div>
                </div>

                <div class="col-lg-4 col-md-6 d-flex align-items-stretch mt-4 mt-md-0">
                    <div class="icon-box">
                        <div class="icon"><i class="bx bx-file"></i></div>
                        <h4><a href="">Sed ut perspiciatis</a></h4>
                        <p>Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore</p>
                    </div>
                </div>

                <div class="col-lg-4 col-md-6 d-flex align-items-stretch mt-4 mt-lg-0">
                    <div class="icon-box">
                        <div class="icon"><i class="bx bx-tachometer"></i></div>
                        <h4><a href="">Magni Dolores</a></h4>
                        <p>Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia</p>
                    </div>
                </div>

                <div class="col-lg-4 col-md-6 d-flex align-items-stretch mt-4">
                    <div class="icon-box">
                        <div class="icon"><i class="bx bx-world"></i></div>
                        <h4><a href="">Nemo Enim</a></h4>
                        <p>At vero eos et accusamus et iusto odio dignissimos ducimus qui blanditiis</p>
                    </div>
                </div>

                <div class="col-lg-4 col-md-6 d-flex align-items-stretch mt-4">
                    <div class="icon-box">
                        <div class="icon"><i class="bx bx-slideshow"></i></div>
                        <h4><a href="">Dele cardo</a></h4>
                        <p>Quis consequatur saepe eligendi voluptatem consequatur dolor consequuntur</p>
                    </div>
                </div>

                <div class="col-lg-4 col-md-6 d-flex align-items-stretch mt-4">
                    <div class="icon-box">
                        <div class="icon"><i class="bx bx-arch"></i></div>
                        <h4><a href="">Divera don</a></h4>
                        <p>Modi nostrum vel laborum. Porro fugit error sit minus sapiente sit aspernatur</p>
                    </div>
                </div>

            </div>

        </div>
    </section> -->
    <!-- End Services Section -->
    <!-- ======= Portfolio Section ======= -->
    <section id="portfolio" class="portfolio">
        <div class="container">

            <div class="section-title">
                <h2>Portfolio</h2>
                <!-- <p>My Works</p> -->
            </div>

            <div class="row">
                <div class="col-lg-12 d-flex justify-content-center">
                    <ul id="portfolio-flters">
                        <!-- <li data-filter="*" class="filter-active">All</li> -->
                        <li data-filter=".filter-app" class="filter-active">Mobil</li>
                        <li data-filter=".filter-web">Web</li>

                        <li data-filter=".filter-game">Oyun</li>
                        <li data-filter=".filter-prototype">Demo ve Prototipler</li>

                    </ul>
                </div>
            </div>

            <div class="row portfolio-container">

                <div class="col-lg-4 col-md-6 portfolio-item filter-app">
                    <div class="portfolio-wrap">
                        <img src="~/Personal/assets/img/portfolio/dota1.png" class="img-fluid" alt="">
                        <div class="portfolio-info">
                            <h4>Dota 2 Chat Wheel Sounds</h4>
                            <p>Mobil-Uygulama</p>
                            <div class="portfolio-links">
                                <a href="~/Personal/assets/img/portfolio/portfolio-1.jpg"
                                   data-gallery="portfolioGallery" class="portfolio-lightbox" title="App 1">
                                    <i class="bx bx-plus"></i>
                                </a>
                                <a asp-controller="Portfolio" asp-action="Detail" data-gallery="portfolioDetailsGallery"
                                   data-glightbox="type: external" class="portfolio-details-lightbox"
                                   title="Portfolio Details"><i class="bx bx-link"></i></a>
                            </div>
                        </div>
                    </div>
                </div>


                <!-- <div class="col-lg-4 col-md-6 portfolio-item filter-web">
                    <div class="portfolio-wrap">
                        <img src="~/Personal/assets/img/portfolio/portfolio-2.jpg" class="img-fluid" alt="">
                        <div class="portfolio-info">
                            <h4>Web 3</h4>
                            <p>Web</p>
                            <div class="portfolio-links">
                                <a href="~/Personal/assets/img/portfolio/portfolio-2.jpg"
                                    data-gallery="portfolioGallery" class="portfolio-lightbox" title="Web 3"><i
                                        class="bx bx-plus"></i></a>
                                <a href="portfolio-details.html" data-gallery="portfolioDetailsGallery"
                                    data-glightbox="type: external" class="portfolio-details-lightbox"
                                    title="Portfolio Details"><i class="bx bx-link"></i></a>
                            </div>
                        </div>
                    </div>
                </div> -->

            </div>

        </div>
    </section><!-- End Portfolio Section -->
    <!-- ======= Contact Section ======= -->
    <section id="contact" class="contact">
        <div class="container">

            <div class="section-title">
                <h2>Bana ulaşın</h2>
                <!-- <p>Contact Me</p> -->
            </div>

            <div class="row mt-2">

                <div class="col-md-6 d-flex align-items-stretch">
                    <div class="info-box">
                        <i class="bx bx-map"></i>
                        <h3>Adres</h3>
                        <p>Kartepe,KOCAELİ</p>
                    </div>
                </div>

                <div class="col-md-6 mt-4 mt-md-0 d-flex align-items-stretch">
                    <div class="info-box">
                        <i class="bx bx-share-alt"></i>
                        <h3>Sosyal Linkler</h3>
                        <div class="social-links">
                            <a href="https://github.com/recaiozturk" target="_blank" class="twitter">
                                <i class="bi bi-github"></i>
                            </a>
                            @* <a href="#" class="facebook"><i class="bi bi-facebook"></i></a> *@
                            <a href="https://www.instagram.com/recaiozturk54/" target="_blank" class="instagram">
                                <i class="bi bi-instagram"></i>
                            </a>
                            <a href="https://www.linkedin.com/in/recaiozturk54/" target="_blank" class="linkedin">
                                <i class="bi bi-linkedin"></i>
                            </a>
                        </div>
                    </div>
                </div>

                <div class="col-md-6 mt-4 d-flex align-items-stretch">
                    <div class="info-box">
                        <i class="bx bx-envelope"></i>
                        <h3>Email</h3>
                        <p>recaiozturk54@gmail.com</p>
                    </div>
                </div>
                <div class="col-md-6 mt-4 d-flex align-items-stretch">
                    <div class="info-box">
                        <i class="bx bx-phone-call"></i>
                        <h3>Telefon</h3>
                        <p>0 531 740 41 48</p>
                    </div>
                </div>
            </div>

            <form action="forms/contact.php" method="post" role="form" class="php-email-form mt-4">
                <div class="row">
                    <div class="col-md-6 form-group">
                        <input type="text" name="name" class="form-control" id="name" placeholder="İsminiz" required>
                    </div>
                    <div class="col-md-6 form-group mt-3 mt-md-0">
                        <input type="email" class="form-control" name="email" id="email" placeholder="Mail Adresiniz"
                               required>
                    </div>
                </div>
                <div class="form-group mt-3">
                    <input type="text" class="form-control" name="subject" id="subject" placeholder="Konu" required>
                </div>
                <div class="form-group mt-3">
                    <textarea class="form-control" name="message" rows="5" placeholder="Mesajınız" required></textarea>
                </div>
                <div class="my-3">
                    <div class="loading">Loading</div>
                    <div class="error-message"></div>
                    <div class="sent-message">Your message has been sent. Thank you!</div>
                </div>
                <div class="text-center"><button type="submit">Gönder</button></div>
            </form>

        </div>
    </section><!-- End Contact Section -->

    <div class="credits">
        <!-- All the links in the footer should remain intact. -->
        <!-- You can delete the links only if you purchased the pro version. -->
        <!-- Licensing information: https://bootstrapmade.com/license/ -->
        <!-- Purchase the pro version with working PHP/AJAX contact form: https://bootstrapmade.com/personal-free-resume-bootstrap-template/ -->
        Created by <a href="#">Recai Öztürk</a>
    </div>

    <!-- Vendor JS Files -->
    <script src="~/Personal/assets/vendor/purecounter/purecounter_vanilla.js"></script>
    <script src="~/Personal/assets/vendor/bootstrap/js/bootstrap.bundle.min.js"></script>
    <script src="~/Personal/assets/vendor/glightbox/js/glightbox.min.js"></script>
    <script src="~/Personal/assets/vendor/isotope-layout/isotope.pkgd.min.js"></script>
    <script src="~/Personal/assets/vendor/swiper/swiper-bundle.min.js"></script>
    <script src="~/Personal/assets/vendor/waypoints/noframework.waypoints.js"></script>
    <script src="~/Personal/assets/vendor/php-email-form/validate.js"></script>
    <!-- Template Main JS File -->
    <script src="~/Personal/assets/js/main.js"></script>
    @RenderSection("Scripts", required: false)

</body>

</html>