
<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta content="width=device-width, initial-scale=1.0" name="viewport">

    <title>Recai Öztürk</title>
    <meta content="" name="description">
    <meta content="" name="keywords">

    <!-- Favicons -->
    <link href="~/Personal/" rel="icon">
    <link href="~/Personal/assets/img/favicon.png" rel="icon">
    <link href="~/Personal/assets/img/apple-touch-icon.png" rel="apple-touch-icon">

    <!-- Google Fonts -->
    <link href="https://fonts.googleapis.com/css?family=Open+Sans:300,300i,400,400i,600,600i,700,700i|Raleway:300,300i,400,400i,500,500i,600,600i,700,700i|Poppins:300,300i,400,400i,500,500i,600,600i,700,700i"
          rel="stylesheet">

    <!-- smidge bundle start -->
    <environment names="Development">
        <link rel="stylesheet" href="my-css-bundle" debug="true" />
    </environment>

    <environment names="Production">
        <link rel="stylesheet" href="my-css-bundle" />
    </environment>

</head>



<body>
    <div id="mainBody">
        <!-- ======= Header ======= -->
        <header id="header">
            <div class="container">

                <h1>
                    <a href="/">Recai Öztürk</a>
                    @if (User.Identity?.IsAuthenticated == true && User.IsInRole("admin"))
                    {
                        <a href="/portfolio/index" target="_blank" class="btn btn-success btn-sm my-3 ml-3">Düzenle</a>
                    }
                </h1>

                <h2 id="writer">Web Developer | Game Developer | .Net Developer</h2>

                <nav id="navbar" class="navbar">
                    <ul>
                        <li><a class="nav-link active" href="#header">Ana Sayfa</a></li>
                        <li><a class="nav-link" href="#about">Hakkımda</a></li>
                        <li><a class="nav-link" href="#resume">Resume</a></li>
                        <li><a class="nav-link" href="#portfolio">Portfolio</a></li>
                        <li><a class="nav-link" href="#services">Blog(Yakında)</a></li>
                        <li><a class="nav-link" href="#contact">İletişim</a></li>
                    </ul>
                    <i class="bi bi-list mobile-nav-toggle"></i>
                </nav><!-- .navbar -->

                <div class="social-links">
                    <a href="https://github.com/recaiozturk" target="_blank" class="twitter">
                        <i class="bi bi-github"></i>
                    </a>

                    <a href="https://www.linkedin.com/in/recaiozturk54/" target="_blank" class="linkedin">
                        <i class="bi bi-linkedin"></i>
                    </a>
                    <a href="https://medium.com/@@recaiozturk54" target="_blank" class="medium">
                        <i class="bi bi-medium"></i>
                    </a>
                    <a href="https://www.instagram.com/recaiozturk54/" target="_blank" class="instagram">
                        <i class="bi bi-instagram"></i>
                    </a>
                </div>

            </div>
        </header><!-- End Header -->
        <div>
            <!-- @RenderBody() -->
            <!-- ======= About Section ======= -->
            <section id="about" class="about">
                @await Component.InvokeAsync("About")
            </section>
            <!-- End About Section -->
            <!-- ======= Resume Section ======= -->
            <section id="resume" class="resume">
                @await Component.InvokeAsync("Resume")
            </section>
            <!-- End Resume Section -->
            <!-- ======= Portfolio Section ======= -->
            <section id="portfolio" class="portfolio">
                @await Component.InvokeAsync("Portfolio")
            </section>


            <!-- ======= Contact Section ======= -->
            <section id="contact" class="contact">
                @await Component.InvokeAsync("Contact")
            </section>
        </div>


        <!-- End Contact Section -->

        <div class="credits">
            Created by <a href="/account/login">Recai Öztürk</a>
        </div>
    </div>


    <environment names="Development">
        <script src="my-js-bundle" debug="true"></script>
    </environment>

    <environment names="Production">
        <script src="my-js-bundle"></script>
    </environment>

    <script>
        snowStorm.excludeMobile = false;

        new OlumWriter({
            container: document.getElementById("writer"),
            sentences: [".Net Core Developer", "Web Developer"],
            interval: 2000,
            speed: 1000,
            reverse: true,
        });

    </script>
    @RenderSection("Scripts", required: false)

</body>

</html>